body{
	background-image: url("Untitled-narnji.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.pictur{
	width: 100px;
	height: 100px;
	display: block;
	margin-left: 140px;
	margin-top: 230px;
}
.pic-w{
	margin-top: 162px;
}
.pic-a{
	margin-top: 185px;
}
.pic-e2{
	margin-top: 168px;
}
.pic-t{
	margin-top: 170px;
}